.jumbotron {
    background-color: navy;
    color: white;
}

h1{
    text-align: center;
}

/* .container{
    max-width: 960px;
    
}
.e{
    align-content: center;
} */
body{
    max-width: 960px;
}

h5 {
    margin-top: 20px;
}